.item	{

    text-align: center;
    padding: 10px 0px;
/*    border: 3px solid #0e8fced1;
    border-radius: 3px;*/
    color: #ca1f43;
    text-decoration: none;
}
.bloc-owl
{
    background-color: #020506de;
	padding: 20px 0;
}
.item > h4 {
	font-family: 'Anton' ,sans-serif;
	font-style: normal;
	font-weight: 400;
    font-size: 25px;
    margin-top: 5px;
    margin-bottom: 5px;
    text-decoration: none;
}
h1, h2, h3, #bloc-1 h1  {
	font-family: 'Anton', sans-serif; 
	    color: #51b9e2;

    text-transform: uppercase;
}
h2{
    letter-spacing: 5px;
    font-size: 40px;
}
h2 > strong {
    color: #ca1f43;
    letter-spacing: 0px;
}
h3{

	letter-spacing: 3px
}
p{
font-family: 'Roboto', sans-serif;
	 color: #ca1f43;
}
p strong {
	 color: #ca1f43;
}

.divider-h {
    margin-bottom: 100px;
}
.info h1, .info p{
	    color: #ffffffba;
}